<p>Search Results for '<%= params[:search]%>'</p>

    <% if @found_apartments.empty? %>
        <p>No results found</p>
    <% end %>


    


<div class="row">
 <% @found_apartments.each do |found_apartment| %>
    <div class="col-md-3">
        <a href="/apartments/<%= found_apartment.id %>">
            <div><%= image_tag found_apartment.apartment_img.url(:apartment_show) %></div>
            <div><%= link_to found_apartment.title, apartment_path(found_apartment) %></div>        
            <div><%= link_to found_apartment.price, apartment_path(found_apartment) %></div>        
    </div>
</div>
<%end%>