<div class="col-md-14">
    <%= image_tag @apartment.apartment_img.url(:apartment_index),class: 'ap_pic' %>
   
</div>
<div class="col-md-14">    
    <h2><%=  @apartment.title %></h2>
    <div>Adress: <%= @apartment.address %></div>
    <div>Neighbourhood: <%= @apartment.neighborhood %></div>
    <div>Bedrooms: <%= @apartment.bedrooms %></div>
    <div>Bathrooms: <%= @apartment.bathrooms %></div>
    <div>Description: <%= @apartment.description %></div>
    <div>Price: $<%= @apartment.price %></div>
</div>

<% if current_user.id == @apartment.user.id  %>
    <%= link_to 'Edit apartment', edit_apartment_path(@apartment)%>
    <%= link_to 'All apartments', '/' %>
    <%= button_to 'Delete',apartment_path(@apartment),method: :delete%>
<% else %>
    <%= link_to 'All apartments', '/' %>
<% end %>

