<h1>Catherine Federer Real Esatate</h1>
<!-- https://agilewarrior.wordpress.com/2011/09/10/difference-between-form_for-and-form_tag-helper-tags-in-rails/ -->
<!-- I use a little help for seting up the search  -->
<%= form_tag  search_results_path, method: 'get' do   %>
    
    <div>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search" %>
    </div>

<% end %>


<% @apartments.each do |apartment| %>
   <a href="/apartments/<%= apartment.id %>" >
    <%= image_tag apartment.apartment_img.url(:apartment_index),class: 'ap_pic' %>
  
    <h2><%= apartment.title %></h2>  
<%end%>

