<div><%= @apartment.title %></div>
<div><%= @apartment.address %></div>
<div><%= @apartment.neighborhood %></div>
<div><%= @apartment.bedrooms %></div>
<div><%= @apartment.bathrooms %></div>
<div><%= @apartment.description %></div>
<div><%= @apartment.price %></div>

<% if current_user.id == @apartment.user.id  %>
    <%= link_to 'Edit apartment', edit_apartment_path(@apartment)%>
    <%= button_to 'Delete',apartment_path(@apartment),method: :delete%>
    <%= link_to 'All apartments', '/' %>
<% else %>
    <%= link_to 'All apartments', '/' %>
<% end %>